.search-option {
  tr {
    td {
      .keyword {
        input {
          width: 300px;
          height: 30px;
        }
      }
      .stop-day :last-child::after{
        content: "以上";
      }
      .date-wrapper {
        input {
          max-width: 120px;
          height: 30px;
          line-height: 30px;
          float: left;
          //padding: 0 0 0 0;
        }
        .separator {
          padding-left: 10px;
          padding-right: 10px;
        }
        td {
          padding: 0 0 0 0;
        }
      }
      .selected-tag {
        background-color: #f90;
        color: white;
      }
    }
  }
}

.unlimited {
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  &:hover {
    background-color: #f90;
    color: white;
    cursor:pointer;
  }
}

.address-tag {
  div {
    height: 50px;
    .unlimited {
      position: relative;
      top: 15px;
    }
    .address {
      width: 400px;
      position: relative;
      left: 140px;
      top: -15px;
      height: 30px;
      span {
        position: relative;
        top: -10px;
      }
    }
  }
}

.selected-tags {
  position: relative;
  div {
    margin-left: 15px;
    border: 1px solid #3399fe;
    white-space: nowrap;
    height: 18px;
    line-height: 18px;
    float: left;
    display: inline-block;
    padding-right: 18px;
    span {
      padding-left: 5px;
    }
    .cancel-icon {
      position: absolute;
      width: 18px;
      height: 18px;
      background: url('http://r.lvyouquan.cn/lyqstatic/pc/img/icon-x2.png') 5px center no-repeat;
      &:hover {
        background-color: #0079ff;
        cursor:pointer;
      }
    }
    .key-span {
      background: #3399fe;
      float: left;
      padding-right: 5px;
    }
  }
}

.products {
  .product:first-child {
    padding-top: 40px !important;
  }
  .product {
    padding-top: 20px;
    padding-left: 10px;
    .left {
      .product-title {
        color: #06c;
        font-size: 20px;
      }
      display: inline-block;
      width: 75%;
      .metadata {
        padding-top: 5px;
        span {
          padding-right: 15px;
          .date {
            font-weight: bold;
            color: #f90;
            margin-right: 10px;
          }
        }
      }
    }
    .right {
      position: relative;
      top: -30px;
      left: 30px;
      display: inline-block;
      width: 20%;
      .pricebox {
        font-size: 13px;
        .large {
          color: #f60;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}
