<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">中途港产品发布系统</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref=".add-product">发布产品</a></li>
        <li ng-if="admin"><a ui-sref=".show-products">产品管理</a></li>
        <li ng-if="admin"><a ui-sref=".show-providers">供应商管理</a></li>
        <li ng-if="admin"><a ui-sref=".show-orders">订单管理</a></li>
        <li ng-class="{'unfinished':unfinished}">
            <span class="dot"></span>
            <a ui-sref=".my-account">我的账号</a>
        </li>
    </ul>
</nav>
<div ui-view></div>
