.unfinished {
  position: relative;
  .dot {
    position: absolute;
    display: inline-block;;
    background: #f21717;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 15px;
  }
  a {
    padding-left: 20px;
  }
}
