<div style="text-align: center;">
  <div style="width: 400px; display: inline-block;">
      <h2 class="form-signin-heading">请登录</h2>
      <label for="inputEmail" class="sr-only">用户名</label>
      <input ng-model="username" type="text" class="form-control" placeholder="用户名">
      <label for="inputPassword" class="sr-only">密码</label>
      <input ng-model="password" type="password"  class="form-control" placeholder="密码">
      <button class="btn btn-lg btn-primary btn-block" type="button"
        ng-click="login();">登陆</button>
      <button class="btn btn-lg btn-primary btn-block" type="button"
        ng-click="register();">register</button>
      <button class="btn btn-lg btn-primary btn-block" type="button"
        ng-click="logout();">logout</button>
 
    </div>
</div>
