<section layout="row" flex>
<md-content flex layout-padding>
    <div class="product">
      <md-tabs md-dynamic-height  md-border-bottom>
        <md-tab class="tab-button" label="选择供应商">
          <div layout="row">
            <provider-side-bar ng-if="isEditing"></provider-side-bar>
            <table>
              <tr>
                <td colspan="99" class="title">
                  供应商基本信息
                </td>
              </tr>
              <tr ng-if="product.pickedProvider">
                <td>供应商</td>
                <td>{{ product.pickedProvider.companyname }} ({{ product.pickedProvider.nickname }})</td>
              </tr>
              <tr>
                <td>商户联系人</td>
                <td>
                  <md-input-container ng-if="isEditing">
                    <md-select
                      ng-if="isEditing"
                      ng-model="product.contact">
                      <md-option
                        ng-value="contact"
                        ng-repeat="contact in product.pickedProvider.contactList">
                        {{contact.contactname}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <md-button ng-if="isEditing" class="md-raised md-primary addcontact" ng-click="addContact();">添加商户联系人</md-button>
                  <p ng-if="!isEditing">{{ product.contact.contactname }}</p>
                </td>
              </tr>
              <tr ng-if="product.contact">
                <td>手机</td>
                <td>
                  <div>
                    {{ product.contact.cellphone }}
                  </div>
                </td>
              </tr>
              <tr ng-if="product.contact">
                <td>座机</td>
                <td>
                  <div>
                    {{ product.contact.homephone }}
                  </div>
                </td>
              </tr>
              <tr ng-if="product.contact">
                <td>QQ号码</td>
                <td>
                  <div>
                    {{ product.contact.qqnumber }}
                  </div>
                </td>
              </tr>
              <tr ng-if="product.contact">
                <td>微信</td>
                <td>
                  <div>
                    {{ product.contact.wechat }}
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </md-tab>
        <md-tab class="tab-button" label="基本信息">
          <table>
            <tr>
              <td colspan="99" class="title">
                产品基本信息
              </td>
            </tr>
            <!--Only id if in non editing mode-->
            <tr ng-if="!isEditing">
              <td>产品编号</td>
              <td colspan="4">
                <p>{{ product.objectId }}</p>
              </td>
            </tr>
            <tr>
              <td>线路名称</td>
              <td colspan="4">
                <input ng-if="isEditing" type="text" ng-model="product.fullName">
                <div ng-if="!isEditing">
                  <span ng-repeat="prefix in product.prefixArray">
                    <span>[</span>
                    <span>{{ prefix }}</span>
                    <span>]</span>
                  </span>
                  <span ng-if="!isEditing">{{product.fullName}}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>供应商产品名称</td>
              <td colspan="4">
                <input ng-if="isEditing" type="text" ng-model="product.productName">
                <p ng-if="!isEditing">{{ product.productName }}</p>
              </td>
            </tr>
            <tr ng-if="isEditing">
              <td>线路名称前缀</td>
              <td colspan="4">
                <multi-choice is-editing="isEditing" type="线路前缀" ng-model="product.prefix"></multi-choice>
              </td>
            </tr>
            <tr>
              <td>酒店标准</td>
              <td colspan="4">
                <md-input-container ng-if="isEditing">
                  <md-select ng-if="isEditing" ng-model="product.hotelStandard">
                    <md-option
                      ng-selected="product.hotelStandard != 'undefined' && $first"
                      ng-value="hotel" ng-repeat="hotel in hotels">
                      {{hotel}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <p ng-if="!isEditing">{{ product.hotelStandard }}</p>
              </td>
            </tr>
            <tr>
              <td>交通方式</td>
              <td colspan="4">
                <md-input-container ng-if="isEditing">
                  <md-select ng-if="isEditing" ng-model="product.transportStandard">
                    <md-option
                      ng-selected="product.transportStandard != 'undefined' && $first"
                      ng-value="transport" ng-repeat="transport in transports">
                      {{transport}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <p ng-if="!isEditing">{{ product.transportStandard }}</p>
              </td>
            </tr>
            <tr>
              <td>产品负责人</td>
              <td colspan="4">
                <md-input-container ng-if="isEditing && !isExisting">
                  <md-select ng-model="product.responsible">
                    <md-option ng-selected="$first" ng-value="response" ng-repeat="response in responses track by $index">
                      {{response.contactname}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <p ng-if="isExisting || !isEditing">{{ product.responsible.contactname }}</p>
              </td>
            </tr>
            <tr>
              <td>行程天数</td>
              <td colspan="4">
                <counter ng-if="isEditing" ng-model="product.duration"></counter>
              <p ng-if="!isEditing">{{ product.duration }}</p>
              </td>
            </tr>
            <tr>
              <td>酒店入住天数</td>
              <td colspan="4">
                <counter ng-if="isEditing" ng-model="product.hotelDuration"></counter>
                <p ng-if="!isEditing">{{ product.hotelDuration }}</p>
              </td>
            </tr>
            <tr>
              <td>报名截止</td>
              <td colspan="4">
                <div>
                  <span>出团前</span>
                  <counter ng-if="isEditing" ng-if="isEditing" ng-model="product.stopDay"></counter>
                  <p ng-if="!isEditing">{{ product.stopDay }}</p>
                  <span>天</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>出发地</td>
              <td colspan="4">
                <md-input-container ng-if="isEditing">
                  <md-select ng-model="product.startCity">
                    <md-option
                      ng-selected="product.startCity != 'undefined' && $first"
                      ng-value="start" ng-repeat="start in startCities">
                      {{start}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <p ng-if="!isEditing">{{ product.startCity }}</p>
              </td>
            </tr>
            <tr>
              <td>类型</td>
              <td colspan="4">
                <md-input-container ng-if="isEditing">
                  <md-select ng-model="product.type">
                    <md-option ng-selected="product.type != 'undefined' && $first"
                               ng-value="type" ng-repeat="type in types">
                      {{type}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <p ng-if="!isEditing">{{ product.type }}</p>
              </td>
            </tr>
            <tr>
              <td>大区</td>
              <td>
                <md-input-container ng-if="isEditing">
                  <md-select ng-model="product.area">
                    <md-option ng-selected="product.area != 'undefined' && $first"
                               ng-value="area" ng-repeat="area in areas">
                      {{area}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <p ng-if="!isEditing">{{ product.area }}</p>
              </td>
            </tr>
            <tr ng-if="subareas || product.subarea">
              <td>分区</td>
              <td>
                <md-input-container ng-if="isEditing">
                  <md-select ng-model="product.subarea">
                    <md-option ng-value="subarea" ng-repeat="subarea in subareas">
                      {{subarea}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <p ng-if="!isEditing">{{ product.subarea }}</p>
              </td>
            </tr>
            <tr>
              <td>小区(可不选或多选)</td>
              <td>
                <multi-choice is-editing="isEditing" dynamic-type='product.subarea' ng-model="product.detailArea"></multi-choice>
              </td>
            </tr>
            <tr>
              <td>平台联系人</td>
              <td colspan="4">
                <md-input-container ng-if="isEditing && !isExisting">
                  <md-select ng-model="product.platformcontact">
                    <md-option ng-selected="$first" ng-value="response" ng-repeat="response in responses track by $index">
                      {{response.contactname}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <p ng-if="!isEditing || isExisting">{{ product.platformcontact.contactname }}</p>
              </td>
            </tr>
          </table>
          <div class="submit">
            <md-button ng-if="isEditing" ng-click="save();" class="md-raised md-primary">保存</md-button>
          </div>
        </md-tab>
        <!--md-tab class="tab-button" ng-if="!isEditing" label="行程表">
          <a  target="_self" href="{{ fileUrl }}" download="行程.doc">下载</a>
        </md-tab-->
        <md-tab class="tab-button" label="行程信息">
          <div ng-repeat="itineraryItem in product.itinerary track by $index" class="itinery">
            <div class="item">
              <label>第{{ $index + 1 }}天:</label>
              <input ng-disabled="!isEditing" type="text" ng-model="itineraryItem.title">
              <span>请填写行程信息如: 上海-北京</span>
            </div>
            <div class="item">
              <label>参考航班/列车班次</label>
              <input ng-disabled="!isEditing" type="text" ng-model="itineraryItem.flight">
            </div>
            <div class="item">
              <label>住宿信息</label>
              <input ng-disabled="!isEditing" type="text" ng-model="itineraryItem.hotelDetail">
            </div>
            <div class="item">
              <label>餐饮信息</label>
              <input ng-disabled="!isEditing" type="checkbox" ng-model="itineraryItem.food.hasmorning">早
              <input ng-disabled="!isEditing" type="text" ng-disabled="!itineraryItem.food.hasmorning" ng-model="itineraryItem.food.morning">
              <input ng-disabled="!isEditing" type="checkbox" ng-model="itineraryItem.food.hasnoon">中
              <input ng-disabled="!isEditing" type="text" ng-disabled="!itineraryItem.food.hasnoon" ng-model="itineraryItem.food.noon">
              <input ng-disabled="!isEditing" type="checkbox" ng-model="itineraryItem.food.hasevening">晚
              <input ng-disabled="!isEditing" type="text" ng-disabled="!itineraryItem.food.hasevening" ng-model="itineraryItem.food.evening">
            </div>
            <div class="item" layout="column">
              <label>详细描述: </label>
              <textarea ng-disabled="!isEditing" class="msd-elastic: \n\n;" ng-model="itineraryItem.detail"></textarea>
            </div>
            <hr>
          </div>
          <div class="submit">
            <md-button ng-if="isEditing" ng-click="save();" class="md-raised md-primary">保存</md-button>
          </div>
        </md-tab>
        <md-tab class="tab-button" label="其他信息">
          <div class="extra-item" layout="column">
            <label>线路特色</label>
            <textarea ng-disabled="!isEditing" class="msd-elastic: \n\n;" ng-model="product.description"></textarea>
          </div>
          <div class="extra-item" layout="column">
            <label>费用包含</label>
            <textarea ng-disabled="!isEditing" class="msd-elastic: \n\n;" ng-model="product.priceInclude"></textarea>
          </div>
          <div class="extra-item" layout="column">
            <label>费用不含</label>
            <textarea ng-disabled="!isEditing" class="msd-elastic: \n\n;" ng-model="product.priceExclude"></textarea>
          </div>
          <div class="extra-item" layout="column">
            <label>预定须知</label>
            <textarea class="msd-elastic: \n\n;" ng-model="product.reserveInfo"></textarea>
          </div>
          <div class="extra-item" layout="column">
            <label>收客限制</label>
            <textarea ng-disabled="!isEditing" class="msd-elastic: \n\n;" ng-model="product.restriction"></textarea>
          </div>
          <div class="extra-item" layout="column">
            <label>温馨提示</label>
            <textarea ng-disabled="!isEditing" class="msd-elastic: \n\n;" ng-model="product.reminder"></textarea>
          </div>
          <div class="extra-item" layout="column">
            <label>签证信息</label>
            <textarea ng-disabled="!isEditing" class="msd-elastic: \n\n;" ng-model="product.visaInfo"></textarea>
          </div>
          <div class="extra-item" layout="column">
            <label>购物信息</label>
            <textarea ng-disabled="!isEditing" class="msd-elastic: \n\n;" ng-model="product.shoppingInfo"></textarea>
          </div>
          <div class="extra-item" layout="column">
            <label>自费项目</label>
            <md-button class="md-raised md-primary" style="width: 150px;" ng-click="addingList = true">创建新自费列表</md-button>
            <div ng-show="addingList">
              <p>列表名称</p>
              <input ng-model="product.newList.name">
              <div style="display: inline-block">
                <a ng-click="createList();">确认</a>
                <p> / </p>
                <a ng-click="addingList = false">取消</a>
              </div>
            </div>
            <md-input-container ng-if="isEditing && !product.objectId">
              <md-select
                placeholder="请选择已有的自费项目列表"
                ng-model="product.selfPaidList">
                <md-option
                  ng-value="paidList"
                  ng-repeat="paidList in existList">
                  {{paidList.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <table class="selfPaid" ng-if="product.selfPaidList">
              <tr>
                <th>选中</th>
                <th>项目</th>
                <th>内容描述</th>
                <th>费用</th>
                <th>操作</th>
              </tr>
              <tr ng-repeat="item in product.selfPaidList.items track by $index">
                <td><input style="width: 20px;" type="checkbox" ng-model="item.picked"></td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.fee }}</td>
                <td><a ng-click="deleteItem($index);">删除</a></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <input style="width: 250px;" ng-model="newItem.name">
                </td>
                <td>
                  <textarea style="width: 300px;" ng-model="newItem.description"></textarea>
                </td>
                <td>
                  <input style="width: 80px" ng-model="newItem.fee">
                </td>
                <td>
                  <a ng-click="addItem(newItem);">添加</a>
                </td>
              </tr>
            </table>
          </div>
          <div class="submit">
            <md-button ng-if="isEditing" ng-click="save();" class="md-raised md-primary">保存</md-button>
          </div>
        </md-tab>
      <md-tab class="tab-button" label="团期报价">
          <div class="product-calendar" layout="row">
            <calendar-md class="calendar-block"
                         calendar-direction="direction"
                         on-prev-month="prevMonth"
                         on-next-month="nextMonth"
                         on-day-click="dayClick"
                         title-format="'MMMM y'"
                         ng-model='selectedDate'
                         day-format="'d'"
                         day-label-format="'EEE'"
                         day-label-tooltip-format="'EEEE'"
                         day-tooltip-format="'fullDate'"
                         week-starts-on="firstDayOfWeek"
                         day-content="setDayContent"></calendar-md>
            <!--There is a bug that this is removed when the windows size is too large.
                TODO-->
            <div class="calendar-form">
              <input-form type="团期报价" title="团期报价" is-editing="isEditing" ng-model="currentPrice">
              </input-form>
            </div>
          </div>

        <!--calendar is-editing="isEditing" ng-model="product.price" class="price-calendar" data="团期报价"></calendar-->
        <div class="submit">
          <md-button ng-if="isEditing" ng-click="submitProduct();" class="md-raised md-primary">发布产品</md-button>
        </div>
      </md-tab>
      <md-tab class="tab-button" ng-if="!isEditing" label="库存管理">
        <calendar class="inventory-calendar" ng-model="product.price" data="库存管理"></calendar>
      </md-tab>
    </md-tabs>
    <input type="hidden" name="costprice" value="{{ price }}">
    <input type="hidden" name="providers" value="{{ providerList }}">
    <input type="hidden" name="itinerary" value="{{ itineraryList }}">
  </div>
</md-content>
</section>

