<div class="search">
  <h3>快速搜索</h3>
  <ul>
    <li>
      <strong>姓名</strong>
      <input type="text" placeholder="姓名" ng-model="username">
    </li>
    <li>
      <strong>身份证</strong>
      <input type="text" placeholder="身份证" ng-model="identifier">
    </li>
    <li>
      <strong>产品编号</strong>
      <input type="text" placeholder="姓名" ng-model="productId">
    </li>
    <li>
      <strong>付款状态</strong>
      <md-select ng-model="state" placeholder="付款状态">
        <md-option ng-value="1">已付款</md-option>
        <md-option ng-value="0">未付款</md-option>
      </md-select> 
    </li>
  </ul>
  <md-button class="md-raised md-primary" ng-click="search();">搜索</md-button>
</div>


<div>
  <table>
    <tr>
      <th>姓名</th>
      <th>报名项目</th>
      <th>联系电话</th>
      <th>应付款项</th>
      <th>付款情况</th>
    </tr>
    <tr ng-repeat="customer in customers track by $index">
      <td>{{ customer.username }}</td>
      <td><a href="#">{{ customer.productname }}</a></td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.price }}</td>
      <td>{{ customer.stateText }}</td>
    </tr>
  </table>
</div>

<div class="center">
  <a>上一页</a>
  <a ng-repeat="page in pages">{{ page }} </a>
  <a>下一页</a>
</div>
