.order-table {
  input {
    height: 24px;
  }
}

.customers {
  min-width: 800px;
  min-height: 500px;
  td {
    padding: 10px;
  }
  input {
    max-width: 150px;
  }
  .extra {
    div {
      width: 150px;
      input[type='checkbox'] {
        transform: scale(2);
        margin-right: 10px;
      }
    }
  }
  .birthDate {
    .datepicker {
      position: static;
      td {
        padding: 0;
      }
    }
  }
}
