<table>
  <tr>
    <td colspan="99" class="title">
      预订信息
    </td>
  </tr>
  <tr ng-if="level != 2">
    <td>联系人</td>
    <td colspan="99">{{ order.contactname }}</td>
  </tr>
  <tr ng-if="level != 2">
    <td>联系方式</td>
    <td colspan="99">{{ order.cellphone }}</td>
  </tr>
  <tr ng-if="level != 2">
    <td>邮件</td>
    <td colspan="99">{{ order.email }}</td>
  </tr>
  <tr>
    <td colspan="99" class="title">
      计调员信息
    </td>
  </tr>
  <tr>
    <td>姓名</td>
    <td colspan="99">{{ product.platformcontact.contactname }}</td>
  </tr>
  <tr>
    <td>电话</td>
    <td colspan="99">{{ product.platformcontact.cellphone }}</td>
  </tr>
  <tr>
    <td>邮箱</td>
    <td colspan="99">{{ product.platformcontact.email }}</td>
  </tr>
  <tr>
    <td colspan="99" class="title">
      产品信息
    </td>
  </tr>
  <tr>
    <td>产品编号</td>
    <td>产品名称</td>
    <td>出发城市</td>
    <td>出游人数</td>
    <td>订单金额</td>
  </tr>
  <tr>
    <td>{{ order.objectId }}</td>
    <td>
      <p>
        <span ng-repeat="prefix in product.prefixArray">[{{ prefix }}]</span>
        {{ product.fullName }}
      </p>
    </td>
    <td>上海</td>
    <td>
      <span>成人: {{ order.adult }}人</span>
      <span>/</span>
      <span>儿童: {{ order.child }}人</span>
    </td>
    <td>
      <p ng-if="level == 3 || level == 0 || level == 2">结算价<strong>￥{{ order.adult * order.price.adultCompanyPrice + order.child * order.price.childCompanyPrice }}</strong></p>
      <br>
      <p ng-if="level == 3 || level == 0 || level == 1">销售价<strong>￥{{ order.adult * order.price.adultCompanySalePrice + order.child * order.price.childCompanySalePrice }}</strong></p>
      <br>
      <p ng-if="level == 3 || level == 2 || level == 1">同行价<strong>￥{{ order.adult * order.price.adultCompanyCompetitorPrice + order.child * order.price.childCompanyCompetitorPrice }}</strong></p>
    </td>
  </tr>
  <tr>
    <td colspan="99" class="title">
      游客信息
    </td>
  </tr>
  <tr>
    <th>姓名</th>
    <th>类型</th>
    <th>性别</th>
    <th>证件类型</th>
    <th>证件号码</th>
    <th>手机</th>
    <th>出生日期</th>
    <th>备注</th>
  </tr>
  <tr ng-if="!isEditing" ng-repeat="customer in order.customers">
    <td>
      {{ customer.name }}
    </td>
    <td>
      {{ customer.type }}
    </td>
    <td>
      {{ customer.sex }}
    </td>
    <td>
      {{ customer.license }}
    </td>
    <td>
      {{ customer.licenseNumber }}
    </td>
    <td>
      {{ customer.cellphone }}
    </td>
    <td>
      {{ customer.birthDate }}
    </td>
    <td>
      <p ng-if="customer.needShare">需要拼房</p>
      <p ng-if="customer.needVisa">需要签证</p>
    </td>
  </tr>
  <tr ng-if="isEditing" ng-repeat="customer in order.customers">
    <td><input type="text" ng-model="customer.name"></td>
    <td>
      <md-input-container>
        <md-select ng-model="customer.type">
          <md-option ng-value="type"
                     ng-repeat="type in types">
            {{ type }}
          </md-option>
        </md-select>
      </md-input-container>
    </td>
    <td>
      <md-input-container>
        <md-select ng-model="customer.sex">
          <md-option ng-value="sex"
                     ng-repeat="sex in sexList">
            {{ sex }}
          </md-option>
        </md-select>
      </md-input-container>
    </td>
    <td>
      <md-input-container>
        <md-select ng-model="customer.license">
          <md-option ng-value="license"
                     ng-repeat="license in licenseList">
            {{ license }}
          </md-option>
        </md-select>
      </md-input-container>
    </td>
    <td>
      <input type="text" ng-model="customer.licenseNumber">
    </td>
    <td>
      <input type="text" ng-model="customer.cellphone">
    </td>
    <td class="birthDate">
      <input
        ng-model="customer.birthDate"
        type="text"
        data-date-type="string"
        data-model-date-format="mediumDate"
        bs-datepicker
        data-date-format="mediumDate"
        container="body"
        data-autoclose="true">
    </td>
    <td class="extra">
      <div>
        <input type="checkbox" ng-model="customer.needVisa">
        需要办签
      </div>
      <div>
        <input type="checkbox" ng-model="customer.needShare">
        需要拼房
      </div>
    </td>
  </tr>
  <tr ng-if="order.revoke">
    <td colspan="99" class="title">
      退款信息
    </td>
  </tr>
  <tr ng-if="order.revoke">
    <td>退款理由</td>
    <td colspan="99">{{ order.revoke.reason }}</td>
  </tr>
  <tr ng-if="order.revoke">
    <td>申请人</td>
    <td colspan="99">{{ order.revoke.person }}</td>
  </tr>
  <tr ng-if="order.revoke">
    <td>手机</td>
    <td colspan="99">{{ order.revoke.phone }}</td>
  </tr>
</table>
<div ng-if="isEditing" class="center">
  <md-button class="md-raised md-primary" ng-click="changeOrder();">
    修改订单
  </md-button>
</div>
