<div class="show-order" layout="row">
  <md-sidenav
    class="md-sidenav-order"
    md-component-id="show-order"
    md-is-locked-open="true"
    md-whiteframe="2">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">订单管理</h1>
    </md-toolbar>
    <div class="sidebar-button">
      <md-button ng-click="allOrder()" class="md-primary">
        全部订单
      </md-button>
      <md-button ng-click="unpaidOrderUnverified()" class="md-primary">
        未付款订单(等待计调确认)
      </md-button>
      <md-button ng-click="unpaidOrderVerified()" class="md-primary">
        未付款订单(计调已经确认)
      </md-button>
      <md-button ng-click="paidOrder()" class="md-primary">
        已付款订单(等待计调确认)
      </md-button>
      <md-button ng-click="paidVerifiedOrder()" class="md-primary">
        已付款订单(等待供应商确认)
      </md-button>
      <md-button ng-click="finishedOrder()" class="md-primary">
        已完成订单
      </md-button>
      <md-button ng-click="getRevoke()" class="md-primary">
        申请退款订单
      </md-button>
      <md-button ng-click="getCancel()" class="md-primary">
        已取消订单
      </md-button>
    </div>
  </md-sidenav>
  <md-content layout-padding>
    <table class="search-option">
      <caption>订单过滤</caption>
      <tr>
        <td>订单号</td>
        <td>
          <div>
            <input ng-model="query.orderId">
          </div>
        </td>
      </tr>
      <tr>
        <td>产品名称</td>
        <td>
          <div>
            <input ng-model="query.productName">
          </div>
        </td>
      </tr>
      <tr>
        <td>出发日期</td>
        <td>
          <div class="date-wrapper" layout="row">
            <input
              ng-model="query.startDate"
              type="text"
              data-date-type="string"
              data-model-date-format="mediumDate"
              bs-datepicker
              data-date-format="mediumDate"
              data-autoclose="true">
            <div class="separator"> - </div>
            <input
              ng-model="query.endDate"
              type="text"
              data-date-type="string"
              data-model-date-format="mediumDate"
              bs-datepicker
              data-date-format="mediumDate"
              data-autoclose="true">
          </div>
        </td>
      </tr>
      <tr ng-show="level == 0 || level == 3">
        <td>分销商姓名</td>
        <td>
          <div>
            <md-input-container>
              <md-select
                ng-model="query.sale">
                <md-option
                  ng-value="sale.objectId"
                  ng-repeat="sale in saleList">
                  {{sale.contactname}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <md-button class="md-raised md-primary" ng-click="search();">确认过滤</md-button>
        </td>
      </tr>
    </table>
    <table class="order">
      <tbody ng-repeat="order in orders">
        <tr>
          <td colspan="99">
            <div class="order-title">
              <span>订单号: {{order.objectId}}</span>
              <span>下单时间: <span ng-bind="order.createdAt | date:'yyyy-MM-dd HH:mm'"></span></span>
              <span ng-if="level != 1">供应商: {{ order.provider.nickname }}</span>
              <a ng-click="showContact(order);">和我联系</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <div>订单来源： {{ order.contactname }}</div>
              <a ng-if="level == 1"
                 target="_blank"
                 ui-sref="sale.show-product({productId: '{{order.product.objectId}}' })"
                 ui-sref-opts="{ absolute: true }">
                <span ng-repeat="prefix in order.product.prefixArray track by $index">[{{ prefix }}]</span>
                {{ order.product.fullName }}
              </a>
              <a ng-if="level != 1"
                 target="_blank"
                 ui-sref="home.show-product-detail({productId: '{{order.product.objectId}}' })"
                 ui-sref-opts="{ absolute: true }">
                <span ng-repeat="prefix in order.product.prefixArray track by $index">[{{ prefix }}]</span>
                {{ order.product.fullName }}
              </a>
            </div>
          </td>
          <td>
            <div class="detail">
              <p ng-if="level == 3 || level == 0 || level == 2">结算价<strong>￥{{ order.adult * order.price.adultCompanyPrice + order.child * order.price.childCompanyPrice }}</strong></p>
              <p ng-if="level == 3 || level == 0 || level == 1">销售价<strong>￥{{ order.adult * order.price.adultCompanySalePrice + order.child * order.price.childCompanySalePrice }}</strong></p>
              <p ng-if="level == 3 || level == 2 || level == 1">同行价<strong>￥{{ order.adult * order.price.adultCompanyCompetitorPrice + order.child * order.price.childCompanyCompetitorPrice }}</strong></p>
              <div>
                成人：{{ order.adult }}人 儿童：{{ order.child }}人
              </div>
              <div>
                出团时间: {{ order.startDate }}
              </div>
            </div>
          </td>
          <td>
            <div class="status">
              <!--TODO: Use variable name instead of int.-->
              <p>
                <strong ng-if="order.status == 1">未付款(等待确认)</strong>
                <strong ng-if="order.status == 2">未付款(已确认)</strong>
                <strong ng-if="order.status == 3">已付款(等待确认)</strong>
                <strong ng-if="order.status == 8">已付款(等待供应商确认)</strong>
                <strong ng-if="order.status == 4">已完成</strong>
                <strong ng-if="order.status == 5">申请退款</strong>
                <strong ng-if="order.status == 6">申请取消</strong>
                <strong ng-if="order.status == 7">订单已取消</strong>
              </p>
              <md-button ng-if="(level == 1) && order.status == 1" ng-click="editOrder(order.objectId);" class="md-raised md-primary">修改客户信息</md-button>
              <md-button ng-if="(level == 0 || level == 3) && order.status == 1" ng-click="verifyUnpaid(order);" class="md-raised md-primary">审核通过</md-button>
              <md-button ng-if="(level == 1) && order.status == 2" ng-click="paid(order);" class="md-raised md-primary">确认付款</md-button>
              <md-button ng-if="(level == 0 || level == 3) && order.status == 3" ng-click="verifyPaid(order);" class="md-raised md-primary">付款审核通过</md-button>
              <md-button ng-if="(level == 2) && order.status == 8" ng-click="verifyFinished(order);" class="md-raised md-primary">确认交易完成</md-button>
              <md-button ng-if="(level == 0 || level == 3) && order.status == 5" ng-click="confirmRevoke(order);" class="md-raised md-primary">确认退款</md-button>
              <md-button ng-if="(level == 0 || level == 3) && order.status == 6" ng-click="confirmRevoke(order);" class="md-raised md-primary">确认取消订单</md-button>
            </div>
          </td>
          <td>
            <div class="operation">
              <a ng-if="!admin"
                 target="_blank"
                 ui-sref="sale.show-order-detail({orderId: '{{order.objectId}}' })"
                 ui-sref-opts="{ absolute: true }">显示详情</a>
              <a ng-if="admin"
                 target="_blank"
                 ui-sref="home.show-order-detail({orderId: '{{order.objectId}}' })"
                 ui-sref-opts="{ absolute: true }">显示详情</a>
              <!--a ng-if="!admin" ng-click="printReceipt();">打印发票</a-->
              <a ng-if="level == 1 && order.status == 1" ng-click="cancelOrder(order);">取消订单</a>
              <a ng-if="level == 1 && order.status == 2" ng-click="applyCancel(order);">申请取消订单</a>
              <a ng-if="level == 1 && (order.status == 3 || order.status == 4 || order.status == 5)"
                 ng-click="applyRevoke(order);">申请退款</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-content>
</div>
