.title {
  background-color: #D3D3D3;
  font-size: 25px;
}

.section {
  input {
    height: 30px;
  }
  table {
    td {
      min-width: 150px;
      textarea {
        min-width: 600px;
        min-height: 100px;
        line-height: 1;
      }
      md-input-container {
        width: 150px;
      }
    }
  }
  .submit {
    margin-top: 30px;
    text-align: center;
  }
}

.block {
  display: block;
  div {
    display: inline;
    padding-right: 10px;
  }
}
