<div class="section">
   <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="基本信息">
        <table>
           <tbody>
            <tr>
              <td colspan="2" class="title">
                公司信息
              </td>
            </tr>
            <tr>
              <td>
                品牌名称
              </td>
              <td>
                <text-field ng-if="isEditing" is-editing="isEditing" ng-model="provider.nickname"></text-field>
                <div ng-if="!isEditing">
                  {{ provider.nickname }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                公司名称
              </td>
              <td>
                <text-field ng-if="isEditing" is-editing="isEditing" ng-model="provider.companyname"></text-field>
                <div ng-if="!isEditing">
                  {{ provider.companyname }}
                </div>
              </td>
            </tr>
            <tr>
              <td>地址</td>
              <td>
                <address show-county=true is-editing="isEditing" ng-model="provider.address"></address>
              </td>
            </tr>
            <!--<tr provider-address></tr>-->
            <tr>
              <td>营业执照</td>
              <td>
                <div ng-if="isEditing">
                  <md-button class="md-raised md-primary" ngf-select="upload($file)">上传文件</md-button>
                  <p ng-if="filename">
                    {{ filename }}
                  </p>
                </div>
                <div ng-if="!isEditing">
                  <a href="#">显示证书</a>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="title">
                联系信息
              </td>
            </tr>
            <tr>
              <td>
                姓名
              </td>
              <td>
                <text-field ng-if="isEditing" is-editing="isEditing" ng-model="provider.contactname"></text-field>
                <div ng-if="!isEditing">
                  {{ provider.contactname }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                座机
              </td>
              <td>
                <text-field ng-if="isEditing" is-editing="isEditing" ng-model="provider.homephone"></text-field>
                <div ng-if="!isEditing">
                  {{ provider.homephone }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                手机
              </td>
              <td>
                <text-field ng-if="isEditing" is-editing="isEditing" ng-model="provider.cellphone"></text-field>
                <div ng-if="!isEditing">
                  {{ provider.cellphone }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                QQ号
              </td>
              <td>
                <text-field ng-if="isEditing" is-editing="isEditing" ng-model="provider.qqnumber"></text-field>
                <div ng-if="!isEditing">
                  {{ provider.qqnumber }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                微信号
              </td>
              <td>
                <text-field ng-if="isEditing" is-editing="isEditing" ng-model="provider.wechat"></text-field>
                <div ng-if="!isEditing">
                  {{ provider.wechat }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="submit">
          <md-button class="md-raised md-primary" ng-if="!confirmed" ng-click="confirm();">
            确认
          </md-button>
        </div>
      </md-tab>
      <md-tab label="业务资料" ng-disabled="!confirmed" md-active="confirmed">
        <table>
          <tbody>
            <tr>
              <td colspan="2" class="title">
                主营业务
              </td>
            </tr>
            <tr>
              <td>
                主营目的地
              </td>
              <td>
                <multi-choice is-editing="isEditing" type="主营目的地" ng-model="provider.destination"></multi-choice>
              </td>
            </tr>
            <tr>
              <td>
                主营口岸
              </td>
              <td>
                <multi-choice is-editing="isEditing" type="主营口岸" ng-model="provider.start" other="true"></multi-choice>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="title">
                业务资源
              </td>
            </tr>
            <tr>
              <td>
                航班资源
              </td>
              <td>
                <textarea ng-disabled="!isEditing" class="msd-elastic" ng-model="provider.flightResource"></textarea>
              </td>
            </tr>
            <tr>
              <td>
                收客情况
              </td>
              <td>
                <textarea ng-disabled="!isEditing" class="msd-elastic" ng-model="provider.customerResource"></textarea>
              </td>
            </tr>
            <tr>
              <td>
                产品优势
              </td>
              <td>
                <textarea ng-disabled="!isEditing" class="msd-elastic" ng-model="provider.productResource"></textarea>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="title">
                合作支持
              </td>
            </tr>
            <tr>
              <td>
                加返政策
              </td>
              <td>
                <div>
                  <div class="block">
                    <div>
                      全年总人数:
                      <input ng-if="isEditing" type="text" ng-disabled="!isEditing" ng-model="provider.returnPolicy.returnTotalPeople"
                             ng-value="provider.returnTotalPeople" ng-change="test();">
                      <p ng-if="!isEditing">{{ provider.returnPolicy.returnTotalPeople }}</p>
                      (人)
                    </div>
                    <div>
                      加返
                      <input ng-if="isEditing" type="text" ng-disabled="!isEditing" ng-model="provider.returnPolicy.returnMoneyEachPeople"
                             ng-value="provider.returnMoneyEachPeople">
                      <p ng-if="!isEditing">{{ provider.returnPolicy.returnMoneyEachPeople }}</p>
                      (元/人)
                    </div>
                  </div>
                  <div class="block">
                    <div>
                      全年销售额:
                      <input ng-if="isEditing" type="number" ng-disabled="!isEditing"  ng-model="provider.returnPolicy.returnTotalRevenue"
                             ng-value="provider.returnTotalRevenue">
                      <p ng-if="!isEditing">{{ provider.returnPolicy.returnTotalRevenue }}</p>
                      (元)
                    </div>
                    <div>
                      加返
                      <input ng-if="isEditing" type="number" ng-disabled="!isEditing" ng-model="provider.returnPolicy.returnMoneyRevenue"
                             ng-value="provider.returnMoneyRevenue">
                      <p ng-if="!isEditing">{{ provider.returnPolicy.returnMoneyRevenue }}</p>
                      (元)
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="submit">
          <md-button class="md-raised md-primary" ng-click="submit();">
            提交
          </md-button>
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
