<table>
  <tr>
    <th>供应商编号</th>
    <th>品牌名称</th>
    <th>公司名称</th>
    <th>营业执照</th>
    <th>详情</th>
    <th>操作</th>
  </tr>
  <tr ng-repeat="provider in providers">
    <td>{{ provider.objectId }}</td>
    <td>{{ provider.nickname }}</td>
    <td>{{ provider.companyname }}</td>
    <td><a ng-if="provider.licenseFile.url" download=".pdf" href="{{ provider.licenseFile.url }}"> 点击下载</a></td>
    <td>
      <a target="_blank"
        ui-sref="home.show-provider-detail({providerId: '{{provider.objectId}}' })"
        ui-sref-opts="{ absolute: true }">显示详情</a>
    </td>
    <td>
      <a ng-click="delete(provider);">删除</a>
    </td>
  </tr>
</table>
<page-control></page-control>
