$padding: 10px;

.search {
  .box {
    width: 60%;
  }
}

.search {
  p {
    color: white;
    display: inline-block;
    width: 30%;
    float: left;
    margin-left: $padding;
  }
}

.search {
  input {
    width: 50%;
    display: inline-block;
    float: right;
    margin-right: $padding;
  }
}

md-sidenav {
  border-style: groove;
  .button {
    white-space: normal;
  }
}
