<md-sidenav class="md-sidenav-left"
  md-component-id="provider-side-bar"
  md-whiteframe="4">
  <md-toolbar class="md-theme-indigo search">
    <h1 class="md-toolbar-tools">选择供应商</h1>

  </md-toolbar>
     <div ng-if="providers.length > 0" angucomplete-alt id="ex1"
              placeholder="搜索供应商"
              pause="100"
              selected-object="selectProvider"
              local-data="providers"
              local-search="searchProvider"
              title-field="nickname,companyname"
              auto-match=true
              minlength="1"
              input-class="form-control form-control-small">
    </div>
  <div>
    <md-content layout-padding ng-repeat="provider in filterProviders">
      <md-button ng-click="pickProvider($index)" class="md-primary">
        {{ provider.nickname }} ({{ provider.companyname}})
      </md-button>
    </md-content>
  </div>
  </div>
</md-sidenav>
