<style>
	.printdoc {
		margin: 10px auto;
		width: 100%;
		font-size: 14px;
		border: 1px solid #ccc;
		padding: 15px;
	}
	.table {
		font-size: 14px;
		box-shadow: none;
	}
	.tjly {
		padding: 15px;
		background: #efefef;
		line-height: 24px;
	}
	.doch3 {
		border-bottom: 2px solid #77cccc;
		font-size: 18px;
		padding: 3px 0;
		line-height: 30px;
		font-weight: bold;
		color: #333;
	}
	.doccon {
		padding: 10px;
	}
	.dayitem {
		margin-bottom: 10px;
	}
</style>

<div class="printdoc">
	<h1>
		{% for prefix in product.prefix %}
			<span>【{{ prefix }}】</span>
		{% endfor %}
		{{ product.title }}</h1>
	<div style="width: 100%; text-align: center">
		<span style="color: Red;">此行程仅供参考，详情以下单时为准</span>
	</div>
	<table class="table" style="width: 100%;">
		<tbody>
		<tr>
			<td>旅行社：未填写</td>
			<td>联系人：未填写</td>
			<td>联系电话：未填写</td>
		</tr>
		</tbody>
	</table>
	<div style="border-top: 2px solid #77cccc; margin: 10px 0; padding-top: 10px;">
		<dl class="tjly">
			{{ product.description }}
		</dl>
	</div>
	<h3 class="doch3">价格班期</h3>
	<div class="doccon">
		<table class="dayitem" style="box-shadow: none">
			<tbody>
			<tr>
				<th style="font-weight: bold; font-size: 14px">出团班期</th>
				<th style="font-weight: bold; font-size: 14px">班期价格</th>
				<th style="font-weight: bold; font-size: 14px">回团班期</th>
			</tr>
			{% for price in product.priceArray %}
				<tr>
					<td>{{ price.startDate }}</td>
					<td>成人￥{{ price.adultCompanySalePrice }};儿童￥{{ price.childCompanySalePrice }}</td>
					<td>{{ price.endDate }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<h3 class="doch3">行程介绍</h3>
	<div class="doccon">
		{% for itinerary in product.itinerary %}
			<div class="dayitem">
				<h4 class="daytime">第&nbsp;<span> {{ itinerary.index }}</span>&nbsp;天   </h4>
					{{ itinerary.detail }}
				<div class="daycon">
				</div>
				<div>
					<strong>餐饮: </strong>
					<span> {{ itinerary.food }} </span>
					<br>
					<strong>住宿：</strong>
					<span> {{ itinerary.hotel }} </span>
					<br>
					<strong>参考航班：</strong>
					<span> {{ itinerary.flight }} </span>
				</div>
			</div>
		{% endfor %}
	</div>
	<h3 class="doch3">费用说明</h3>
	<div class="doccon">
		<div class="dayitem">
			<h4 class="daytime">费用包含：</h4>
			<div class="daycon">
				{{ product.priceInclude }}
			</div>
			<h4 class="daytime">费用不包含：</h4>
			<div class="daycon">
				{{ product.priceExclude }}
			</div>
			<h4 class="daytime">自费项目：</h4>
			<div class="daycon">
				{{ product.selfPaid }}
			</div>
		</div>
	</div>

	<h3 class="doch3">签证信息</h3>
	<div class="doccon">
		<div class="dayitem">
			<div class="daycon">
				{{ product.visaInfo }}
			</div>
		</div>
	</div>

	<h3 class="doch3">预订须知</h3>
	<div class="doccon">
		<div class="dayitem">
			<div class="daycon">
				{{ product.reserveInfo }}
			</div>
		</div>
	</div>

	<h3 class="doch3">收客限制</h3>
	<div class="doccon">
		<div class="dayitem">
			<div class="daycon">
				{{ product.restriction }}
			</div>
		</div>
	</div>
</div>