<div>
  <div class="block">
    <div>
      全年总人数:
      <input ng-if="isEditing" type="text" ng-disabled="!isEditing" ng-model="returnPolicy.returnTotalPeople"
      ng-value="provider.returnTotalPeople">
      <p ng-if="!isEditing">{{ returnPolicy.returnTotalPeople }}</p>
      (人)
    </div>
    <div>
      加返
      <input ng-if="isEditing" type="text" ng-disabled="!isEditing" ng-model="returnPolicy.returnMoneyEachPeople"
      ng-value="provider.returnMoneyEachPeople">
      <p ng-if="!isEditing">{{ returnPolicy.returnMoneyEachPeople }}</p>
      (元/人)
      </div>
    </div>
  <div class="block">
    <div>
    全年销售额:
    <input ng-if="isEditing" type="number" ng-disabled="!isEditing"  ng-model="returnPolicy.returnTotalRevenue"
      ng-value="provider.returnTotalRevenue">
      <p ng-if="!isEditing">{{ returnPolicy.returnTotalRevenue }}</p>
    (元)
    </div>
    <div>
       加返
      <input ng-if="isEditing" type="number" ng-disabled="!isEditing" ng-model="returnPolicy.returnMoneyRevenue"
      ng-value="provider.returnMoneyRevenue">
      <p ng-if="!isEditing">{{ returnPolicy.returnMoneyRevenue }}</p>
      (元)
    </div>
  </div>
</div>


