.order-table {
  input {
    height: 30px;
  }
}

.customers {
  td {
    padding: 0;
    md-input-container {
      width: 30px;
    }
  }
  input {
    max-width: 120px;
  }
  .extra {
    div {
      width: 120px;
      input[type='checkbox'] {
        transform: scale(2);
        margin-right: 10px;
      }
    }
  }
  .birthDate {
    .datepicker {
      position: static;
      td {
        padding: 0;
      }
    }
  }
}
