.operation {
  a {
    display: block;
    width: 100px;
  }
}

.detail {
  div {
    width: 150px;
  }
}

.status {
  div {
    width: 150px;
    p {
      display: block;
    }
    button {
      display: block;
    }
  }
}

.md-sidenav-order {
  width: 300px;
}

.order {
  min-width: 1000px;
  .order-title {
    span {
      margin-right: 25px;
    }
  }
}
