.address {
  input {
    margin-left: 5px;
  }
  md-input-container {
    position: relative;
    top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  p {
    margin-right: 15px;
    margin-left: -15px;
  }
  .value {
    position: relative;
    left: -150px;
  }
}
