.submit {
  margin-top: 30px;
  text-align: center;
}

.shadow {
  box-shadow: 3px 3px 3px #888888;
  margin-right: 10px;
  margin-bottom: 10px;
}

.old-password {
  position: relative;
  left: 20px;
  span {
    margin-right: 5px;
  }
  margin-bottom: 10px;
}

.show-product-nav md-sidenav,
md-sidenav.md-locked-open-add-active,
md-sidenav.md-closed.md-locked-open-add-active,
md-sidenav.md-locked-open{
    min-width: 200px;
    width: 200px;
    max-width: 200px;
}

.account-product {
  td {
    padding: 10px;
    min-width: 50px;
  }
}
